@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using BookBazaar.Data.DataContext
@using BookBazaar.Data.Repo.Interfaces
@using BookBazaar.Misc.Roles
@inject SignInManager<IdentityUser> SignInManager
@inject IWorkUnit WorkUnit;
@inject AppDataContext DataContext;

@{
    string loggedInUserId = string.Empty;
    string role = string.Empty;
    string company = string.Empty;

    if (SignInManager.IsSignedIn(User))
    {
        ClaimsIdentity claimsIdentity = (ClaimsIdentity)User.Identity!;
        loggedInUserId = claimsIdentity.FindFirst(ClaimTypes.NameIdentifier)!.Value;

        string roleIdentifier = DataContext.UserRoles.FirstOrDefault(r => r.UserId == loggedInUserId)!.RoleId;
        role = DataContext.Roles.FirstOrDefault(r => r.Id == roleIdentifier)!.Name!;

        if (role == RoleManager.Company)
        {
            company = (await WorkUnit.UserRepo.GetAsync(u => u.Id == loggedInUserId, "Company"))
                .Company!.Name;

            role = "Business User";
        }
    }
}

<ul class="navbar-nav">
    @if (User.Identity!.IsAuthenticated && SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="NavbarLink NavigationLink border-0 text-uppercase DropdownParent text-white nav-link dropdown-toggle"
               href="#" id="navbarDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false">
                <i class="bi bi-person"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <div class="dropdown-header DropdownHeader">
                    <span>@((await WorkUnit.UserRepo.GetAsync(u => u.Id == loggedInUserId)).Name)</span>

                    @if (role != "Business User")
                    {
                        if (role != RoleManager.Administrator)
                        {
                            <div class="mt-2 text-muted">Account type: @role User</div>
                        }
                        else
                        {
                            <div class="mt-2 text-muted">Account type: @role</div>
                        }
                    }
                    else
                    {
                        <div class="text-muted mt-2">
                            <span>Account type: @role</span>
                            <span>representing @company</span>
                        </div>
                    }

                </div>
                <hr class="dropdown-divider">
                <li class="nav-item DropdownItem text-center">
                    <a class="NavigationLinkDropDown dropdown-item text-center"
                       asp-area="Customer"
                       asp-controller="Order"
                       asp-action="Index">
                        My orders
                    </a>
                </li>
                <li class="nav-item DropdownItem text-center">
                    <a class="NavigationLinkDropDown dropdown-item text-center"
                       asp-area="Identity"
                       asp-page="/Account/Manage/Index">
                        Manage account
                    </a>
                </li>
                <li>
                    <hr class="dropdown-divider">
                </li>
            </ul>
        </li>
        <li class="nav-item">
            <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button id="logout"
                        type="submit"
                        class="nav-link NavigationLink text-white border-0 text-uppercase">
                    Logout
                </button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="NavigationLink nav-link text-white NavbarLink" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="NavigationLink nav-link text-white NavbarLink" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
    <li class="nav-item">
        <a class="NavigationLink nav-link text-white NavbarLink"
           id="cart"
           asp-area="Customer"
           asp-controller="OrderBasket"
           asp-action="Index">
            @await Component.InvokeAsync("OrderBasketCounter")
        </a>
    </li>
</ul>